<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="DatabaseProjectPath" value="C:\Projects\Testing\Deloitte.TrueView.Database"/>
    <add key="SolutionPath" value="C:\Projects\testing\Deloitte.TrueView.sln"/>
    <add key="RepositoryPath" value="C:\Projects\testing"/>
  </appSettings>
</configuration>
